<div class="center hero-unit">	

  <h1><%= @user.domain.company_name %></h1>		
  <h6>
  		<%= @user.domain.address %> | <%= @user.domain.city %> | <%= @user.domain.country %> | <%= @user.domain.zip_code %>
  	</h6>
  <h2>
    <%= @user.domain.company_id %>
  </h2>

  <div>
  	
  	<h5>
  		<div><%= @user.name %></div>
  		<div><%= @user.email %></div>
  	</h5>
  </div>

  
  
</div>